.left{
	position: fixed !important;
	height: 100%;	
}
.right{
	margin-left: 30%;
}

@media only screen and (max-width:767px){
	/* styles for browsers larger than 960px; */
	.left {
		position: initial !important;
		height: initial !important;
	}
	.right{
		margin-left: initial !important;
	}
}